$header-footer-height: 75px;

.playground {
  margin: $header-footer-height 0 (-$header-footer-height);
  background: url('../../assets/img/furniture/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100%;
  height: calc(2 / 3 * 100vw);
}