$header-footer-height: 75px;
$bg-full-width: 1920;
$bg-full-height: 1080;

.playground {
  $top-offset: 15px;
  $full-device-height: calc(100vh - $header-footer-height + $top-offset);
  margin: calc($header-footer-height - $top-offset) 0 (-$header-footer-height);
  @include bg-image($path: '../../assets/img/furniture/background.png');
  background-size: cover;

  height: max(calc($bg-full-height / $bg-full-width * 100vw), $full-device-height);

  @media (min-width: 1024px) {
    height: $full-device-height;
  }
}

.playground__task {
  text-align: center;
  position: relative;
  top:7%;
  max-width: 80%;
  margin: 0 auto;

  user-select: none;
  
  color: $additional-color-light;
  -webkit-text-stroke: 2px $accent-color-1;
  font-weight: 600;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.25);

  font-size: 4rem;

  @media (max-width: $mobile-width) {
    font-size: 3rem;
  }

  letter-spacing: 0.5rem;

  animation: title 1000ms ease-in-out infinite;
  transition: text-shadow $hover-transition ease-in-out;

  &:hover {
    text-shadow: 6px 6px rgba(0, 0, 0, 0.25);
  }
}

.playground__task_win {
  top: 20%;
  border: 8px solid $additional-color-yellow;
  background: url("../../assets/img/win-bg.gif");
}

.playground__help {
  position: absolute;
  left: 5%;
  bottom: 90px;
  z-index: $help-button-layer;

  width: 20vw;
  height: 40px;

  background-color: $accent-color-2-dark;
  color: $additional-color-light;
  border:4px solid $additional-color-light;
  border-radius: 20px;

  &:hover {
    background-color: $additional-color-light;
    color: $accent-color-2-dark;
    border-color: $accent-color-2-dark;
  }

  @include smooth-button($translate: -5%);
}

@keyframes title {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-20%);
  }
  100% {
    transform: none;
  }
}

.playground__couch, .playground__floor, .playground__table {
  position: absolute;
  transition: filter $hover-transition ease-in-out;

  display: flex;
  justify-content: space-around;

  &.highlighted {
    filter: drop-shadow(0 0 10px $additional-color-light) !important;
  }
}

.playground__couch {
  $width: 1510;
  $height: 761;
  $element-width: max(450px, 40vw);

  width: $element-width;
  aspect-ratio: calc($width / $height);
  @include bg-image($path: '../../assets/img/furniture/couch.png');
  @include furniture-top($offset: -52px);

  @media (max-width: 1200px) {
    @include furniture-top($offset: -120px);
  }

  @media (max-width: 800px) {
    $element-width-tablet: max(300px, 50vw);
    width: $element-width-tablet;
    right: calc(50% - $element-width-tablet / 2);
  }

  right: calc(50% - $element-width / 2);

  align-items: flex-start;
  padding: 0 4%;

  & > .dog, & > .corgy[mood = "hungry"] {
    top: 7.5%;
  }

  & > .corgy {
    top: 0;
  }

  & > .pug {
    top: 15%;
  }

  & > .guinea-pig, & > .pug#laying {
    top: 30%;
  }


  & > * {
    flex-grow: 0;
    flex-shrink: 0;
    position: relative;
    top: 5%;
  }

  @media (max-width: 1200px) {
    & > .corgy[mood = "hungry"] {
      top: 2.5%;
    }
  }

  @media (max-width: $tablet-width) {
    & > *, & > .dog {
      top: -5%;
    }

    & > .corgy[mood = "hungry"] {
      top: -40%;
    }

    & > .corgy {
      top: -10%;
    }
  
    & > .pug {
      top: 15%;
    }
  
    & > .guinea-pig, & > .pug#laying {
      top: 22.5%;
    }
  }

  @media (max-width: $mobile-width) {
    & > *, & > .dog {
      top: 0;
    }

    & > .corgy[mood = "hungry"] {
      top: -40%;
    }

    & > .corgy {
      top: 0;
    }
  
    & > .pug {
      top: 15%;
    }
  
    & > .guinea-pig, & > .pug#laying {
      top: 27.5%;
    }
  }
}

.playground__table { // Max 1 pet
  $width: 678;
  $height: 708;
  $element-width: max(100px, 15vw);

  width: max(100px, 15vw);
  height: calc($element-width * $height / $width);
  @include bg-image($path: '../../assets/img/furniture/shelf.png');

  right: 5%;
  @include furniture-top($offset: 60px);

  @media (max-width: 950px) {
    @include furniture-top($offset: 1vw);
  }

  @media (max-width: $mobile-width) {
    @include furniture-top($offset: -50px);
  }

  align-items: flex-end;

  & > * {
    margin: 0 auto;
    position: relative;
    bottom: 99%;
  }
}

.playground__floor {
  $width: 1772;
  $height: 176;
  $element-width: max(50vw, 300px);

  width: $element-width;
  height: calc($element-width * $height / $width);
  left: calc(50% - $element-width / 2);
  @include bg-image($path: '../../assets/img/furniture/carpet.png');

  @include furniture-top($offset: 15vw);
  @media (max-width: $tablet-width) {
    @include furniture-top($offset: 10vw);
  }

  align-items: center;

  & > * {
    position: relative;
    bottom: 100%;
  }

  & > .pug {
    bottom: 90%;
  }

  & > .fish {
    bottom: 75%;
  }

  & > .turtle, & > .small {
    bottom: 50%;
  }

  @media(max-width: $tablet-width) {
    & > * {
      position: relative;
      bottom: 130%;
    }

    & > .turtle, & > .small {
      bottom: 35%;
    }
  }
}

