$menu-left-indent: 6em;
$menu-left-indent-mobile: 4em;
$car-width: 150px;
$car-mobile-width: 100px;

.track {
  width: 100%;
  height: 140px;

  border-bottom: 4px solid $color-light-xl;

  position: relative;
}

.track__title {
  font-size: 1.25rem;
  color: $color-light-xl;

  display: inline-block;
  vertical-align: middle;
}

.track__car,
.track__flag {
  position: absolute;
}

.track__car {
  width: $car-width;

  --transforms: translateY(35%);
  transform: var(--transforms);

  left: 100px;
  bottom: 0;

  transition: opacity ease-in-out $active-transition;

  @media (max-width: 600px) {
    --transforms: translateY(40%);
  
    width: $car-mobile-width;
    left: 20px;
  }
}

@keyframes car-drive {
  0% {
    left: 100px;
  }
  100% {
    left: calc(100% - $car-width - 10px);
  }
}

@keyframes car-stop {
  $stop-length: 30px;
  0% {
    left: var(--car-stop-at);
  }
  75% {
    transform: var(--transforms) rotate(2deg);
    left: min(var(--car-stop-at) + $stop-length, 100% - $car-width - 10px);
  }
  100% {
    transform: var(--transforms);
    left: min(var(--car-stop-at) + $stop-length, 100% - $car-width - 10px);
  }
}

.track__flag {
  width: 80px;
  aspect-ratio: 1/1;

  right: calc($car-width + 20px);
  bottom: -5px;

  @media (max-width: 600px) {
    width: 60px;
    right: calc($car-mobile-width + 10px);
  }

  fill: $color-light-xl;
}

.track__menu {
  display: inline-flex;
  align-items: center;

  position: absolute;
  top: 0;
  left: $menu-left-indent;

  @media (max-width: $mobile-width) {
    left: $menu-left-indent-mobile;
  }

  gap: 1rem;

  button {
    text-transform: capitalize;
  }
}

.track__update-car {
  @include button(
    $bg-color: $color-light-s,
    $border-color: $color-light-xl,
    $edge-color: $color-light-l,
    $border-radius: 20px,
    $edge-height: 3px
  );
  height: 30px;
  font-size: 1rem;
}

.track__delete-car {
  @include button(
    $bg-color: $color-dark-l,
    $border-color: $color-dark-s,
    $edge-color: $color-dark-m,
    $border-radius: 20px,
    $edge-height: 3px
  );
  height: 30px;
  width: 35px;

  font-size: 1.25rem;
  color: $color-light-s;
}

.track__start-engine,
.track__reset-car {
  position: absolute;
  top: 50px;
  width: 36px;
}

.track__start-engine {
  left: calc(4px - $menu-left-indent);
  @media (max-width: $mobile-width) {
    left: calc(4px - $menu-left-indent-mobile);
  }

  @include button(
    $bg-color: $color-light-s,
    $border-color: $color-dark-xs,
    $edge-color: $color-dark-s,
    $edge-height: 4px
  );

  &:disabled {
    color: var(--car-color);
    -webkit-text-stroke: 1px $color-dark-l;
  }
}

.track__reset-car {
  left: calc(56px - $menu-left-indent);
  @media (max-width: $mobile-width) {
    left: calc(56px - $menu-left-indent-mobile);
  }
  @include button(
    $bg-color: $color-dark-l,
    $border-color: $color-dark-s,
    $edge-color: $color-dark-m,
    $edge-height: 4px
  );
  color: $color-light-xl;
}
