$accent-color-1: #FF8E32;
$additional-color-yellow: #FFD531;
$accent-color-2: #5C468E;
$additional-color-light: #FFFFFF;
$additional-color-grey: #D9D9D9;
$accent-color-dark: #1F1F1F;
$additional-color-dark: #404040;