@mixin shadow() {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

@mixin menu-button($top) {
  transition: $hover-transition ease-in-out;

  &:hover {
    top: $top;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(0.9);
  }
}

@mixin scrollbar($track-color, $thumb-color, $width, $border-radius: 10px) {
  border-radius: $border-radius;
  &::-webkit-scrollbar {
    width: $width;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: $border-radius;
  }

  &::-webkit-scrollbar-track {
    background-color: $track-color;
    border-radius: $border-radius;
  }
}

@mixin link-border($width, $height, $color, $transition) {
  width: $width;
  height: $height;
  background: $color;
  content: "";
  position: absolute;
  transition: ease-in-out $transition;
}

@mixin bg-image($path, $bg-width: 100%, $bg-height: 100%) {
  background: url($path);
  background-repeat: no-repeat;
  background-position: center;
  background-size: $bg-width $bg-height;
}

@mixin furniture-top($offset: 0px) {
    //Cubic regression (kinda)
    //top: calc(0.0000007017 * 1000000vw - 0.0013356441  * 10000vw + 0.4950708679 * 100vw + 10px + $offset);
    top: calc(-0.0001103128 * 10000vw - 0.1616403806 * 100vw + 570px + $offset);
    
    //@media (max-width: 950px) {
      //Quadratic regression
    //  top: calc(-0.0001103128 * 10000vw - 0.1616403806 * 100vw + 570px + $offset);
    //}
}

@mixin pet($bg-path, $actual-width, $actual-height) {
  @include bg-image($bg-path);
  aspect-ratio: calc($actual-width / $actual-height);
  width: 10vw;
  & > * {
    transform: translateX(50%) translateY(-99%);
  }
}

