// Z-index layers
$default-layer: 0;
$table-furniture-layer: 1;
$drag-n-drop-layer: 2;
$drag-n-drop-close-layer: 3;
$drag-n-drop-dragged-layer: 4;
$drag-n-drop-dragged-close-layer: 5;
$header-footer-layer: 6;
$menu-layer: 7;

// Transition duration
$hover-transition: 250ms;
$active-transition: 150ms;