@keyframes lose {
  $offset: 15%;
  0% {
    transform: var(--other-transform) translateX(0);
  }
  8% {
    transform: var(--other-transform) translateX(-$offset);
  }
  25% {
    transform: var(--other-transform) translateX($offset);
  }
  33% {
    transform: var(--other-transform) translateX(0);
  }
  41% {
    transform: var(--other-transform) translateX(-$offset);
  }
  58% {
    transform: var(--other-transform) translateX($offset);
  }
  66% {
    transform: var(--other-transform) translateX(0);
  }
  74% {
    transform: var(--other-transform) translateX(-$offset);
  }
  91% {
    transform: var(--other-transform) translateX($offset);
  }
  100% {
    transform: var(--other-transform) translateX(0);
  }
}