html {
  font-size: 16px;
  font-family: Tahoma, sans-serif;

  @media (max-width: $tablet-width) {
    font-size: 12px;
  }
}

code {
  font-family: Consolas, Tahoma, sans-serif;
  white-space: pre;
  color: $additional-color-light;
}