.toggle-input {
  background-color: $accent-color-2;
  position: relative;
  top: 25px;
  left: 10px;
}

.toggle-input__description-label {
  position: relative;
  top: 50px;
  left: 12px;
  font-size: 0.75em;
}