$color-light-s: #c1c0c0;
$color-light-m: #d6d6d6;
$color-light-l: #e9e9e9;
$color-light-xl: #ffffff;

$color-dark-xs: #959595;
$color-dark-s: #676767;
$color-dark-m: #5d5c5c;
$color-dark-l: #515151;
$color-dark-xl: #000000;

$color-bg: #262626;
