@mixin button($bg-color, $border-color, $edge-color, $border-radius: 15px, $horizontal-padding: 6px) {
  cursor: pointer;

  padding: 4px $horizontal-padding 2px;

  background-color: $bg-color;
  color: $border-color;

  box-shadow: 0 5px $edge-color;

  border: 2px solid $border-color;
  border-radius: $border-radius;

  transition:
    transform ease-in-out $active-transition,
    box-shadow ease-in-out $active-transition;

  &:active {
    transform: translateY(4px);
    box-shadow: 0 2px $edge-color;
  }
}

@mixin modal($bg-color, $border-color, $height) {
  $width: min(500px, 90vw);

  left: calc(50% - $width / 2);

  width: $width;
  height: $height;
  background-color: $bg-color;

  border: $border-color dashed 4px;
  border-radius: 75px;
}

@mixin modal-title($color, $stroke-color) {
  margin: 20px auto 0;

  text-align: center;
  font-weight: bold;
  font-size: 1.15em;
  color: $color;
  -webkit-text-stroke: 1px $stroke-color;
}
