//app layers
$default-layer: 0;
$toggle-input-button-layer: 1;
$toggle-input-labels-layer: 2;

$header-height: 75px;
$footer-height: 60px;

$hover-transition: 500ms;
$active-transition: 300ms;
$switch-transition: 300ms;
