//app layers
$default-layer: 0;
$toggle-input-labels-layer: 1;
$toggle-input-checkbox-layer: 2;
$car-index: 3;
$filter-layer: 4;

$views-count: 2;

$header-height: 75px;
$footer-height: 60px;
$footer-margin: 30px;
$main-height-offset: 10px;
$main-height: calc(100vh - $header-height - $footer-height - $footer-margin - $main-height-offset);

$hover-transition: 500ms;
$active-transition: 300ms;
$switch-transition: 300ms;

$mobile-width: 500px;
