$switch-transition: 300ms;

.toggle-input {
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.toggle-input__checkbox {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;

  &:checked + .toggle-input__button {
    &::before {
      animation: button-switch-on $switch-transition ease-in-out forwards;
    }
  }
}

.toggle-input__button {
  width: 50%;
  height: 100%;
  &::before {
    content: '';
    display: inline-block;
    animation: button-switch-off $switch-transition ease-in-out forwards;
    width: 100%;
    height: 100%;
  }
}

@keyframes button-switch-on {
  0% {
    width: 100%;
    border-radius: inherit 0 0 inherit;
    transform: translateX(0%);
  }
  50% {
    width: 110%;
  }
  100% {
    width: 100%;
    transform: translateX(100%);
    border-radius: 0 inherit inherit 0;
  }
}

@keyframes button-switch-off {
  0% {
    width: 100%;
    transform: translateX(100%);
    border-radius: 0 inherit inherit 0;
  }
  50% {
    width: 110%;
  }
  100% {
    width: 100%;
    transform: translateX(0%);
    border-radius: inherit 0 0 inherit;
  }
}

.toggle-input__options {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
