.playground {
  margin-top: 75px;
  background: url('../../assets/img/furniture/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100vw 100%;
  height: calc(2 / 3 * 100vw);
}