$max-editor-lines: 30;

@for $i from 1 through $max-editor-lines {
  .tag-highlight:nth-of-type(#{$i}) {
      &::before {
        position: absolute;
        content: "#{$i}";
        left: 5px;
    
        color: $additional-color-dark;
        border-right: 2px solid $additional-color-dark;
    
        padding-right: 0.25em;
      }
  }
}