.css-input {
  font-family: Consolas, sans-serif;
  width: 100%;
  height: 100%;

  background-color: $additional-color-grey;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    position: relative;
    right: 20%;
    content: '{..}';
  }

  @media (max-width: 1000px) {
    &::after {
      display: none;
    }
  }
}

.css-input__input {
  width: 70%;
  background: transparent;
  color: transparent;
  caret-color: $additional-color-light;
  padding: 0 0.5em;

  &::placeholder {
    color: $additional-color-light;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.css-input__enter {
  position: relative;
  left: 12%;
  height: 70%;
  width: 50px;

  transition: color $hover-transition ease-in-out, background-color $hover-transition ease-in-out;

  @media (max-width: 1000px) {
    left:0;
    right: 15px;
  }

  &:hover {
    background-color: $additional-color-dark;
    color: $additional-color-light;
  }
}

.css-input__text-view {
  cursor: text;
  position: absolute;
  left: calc(0.5em + 10px);
  max-width: 55%;
  overflow: hidden;
}