$panel-height: 30px;

.draggable__minimize-button {
  z-index: $drag-n-drop-close-layer;
}

.draggable {
  font-family: Consolas, sans-serif;

  background-color: $additional-color-dark;

  z-index: $drag-n-drop-layer;
  cursor: move;

  @include shadow();

  &_dragged {
    z-index: $drag-n-drop-dragged-layer;

    .draggable__minimize-button {
      z-index: $drag-n-drop-dragged-close-layer;
    }
  }
}

.draggable__panel {
  height: $panel-height;
  
  background-color: $additional-color-grey;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}

.css-input-wrapper {
  width: 20vw;
  height: 100px;

  top: 100px;

  .draggable__content {
    height: 70px;
    padding: 15px 10px;
  }
}

.html-wrapper {
  width: 20vw;
  height: 400px;

  top: 250px;

  .draggable__content {
    background-color: $accent-color-dark;
    height: calc(400px * 0.8);
    width: 90%;
    margin: 0 auto;
    position: relative;
    top: calc(0.065 * 400px);
  }
}

.draggable_minimized {
  height: $panel-height;
}