$footer-font-size: 1.5em;

.footer {
  height: 75px;
  background-color: rgba($additional-color-grey, 0.5);
}

.footer__made-for {
  width: 320px;
  
  font-size: $footer-font-size;
  
  position: relative;
  left: calc(50% - 160px);
}

.footer__course-logo {
  height: 36px;
}
  
.footer__date {
  position: relative;
  right: 2rem;
  font-size: $footer-font-size;
}