.header {
  height: 75px;

  padding: 0 20px 0;

  z-index: $header-layer;

  border-right: 4px solid $additional-color-yellow;
  border-bottom: 8px solid $additional-color-yellow;
  border-left: 4px solid $additional-color-yellow;
  background: $accent-color-1;
  border-radius: 0px 0px 0px 20px;

  @include shadow();
}

.header__icon {
  aspect-ratio: 1/1;
  height: 54px;
}

.header__open-menu {
  position: relative;
  right: 30px;

  width: 200px;
  height: 32px;
  text-transform: capitalize;
  font-weight: 700;
  border-bottom: 8px solid $additional-color-light-brown;
  background: $additional-color-grey;

  @media (max-width: 600px) {
    width: 120px;
    right: 0;
  }

  transition: border-width $active-transition ease-in-out, background-color $hover-transition ease-in-out,
  border-color $hover-transition ease-in-out;
  &:hover {
    background-color: lighten($color: $additional-color-grey, $amount: 20);
    border-color: $additional-color-grey;
  }
  &:active {
    border-width: 4px;
  }
}

.header__name {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 3.84px;
  color: $additional-color-light;

  @media (max-width: 600px) {
    font-size: 2rem;
  }
}
  