.markup__element {
  cursor: default;
}

.markup__element > .tag-content *{
  transition: color $hover-transition ease-in-out;
}

.markup__element_highlighted > .tag-content *{
  color: $additional-color-light;
}

.markup-text {
  pointer-events: none;

  position: absolute;
  height: 2em;

  padding: 5px;
  display: flex;
  align-items: center;

  color: $additional-color-light;
  font-size: 1.5em;

  background-color: $accent-color-2;
  border: 4px solid $additional-color-light;

  transform: none !important;
  transition: opacity $hover-transition ease-in-out;
  opacity: 0;

  &_visible {
    opacity: 1;
  }
}