@keyframes car-drive {
    0% {
      left: var(--car-start);
    }
    90% {
      transform: var(--transforms);
    }
    95% {
      transform: var(--transforms) rotate(2deg);
    }
    100% {
      transform: var(--transforms);
      left: calc(100% - var(--car-width) - 10px);
    }
  }
  
  @keyframes car-drive-fast {
    0% {
      left: var(--car-start);
    }
    20% {
      transform: var(--transforms) rotate(-20deg);
    }
    30% {
      transform: var(--transforms);
    }
    90% {
      transform: var(--transforms);
    }
    95% {
      transform: var(--transforms) rotate(1deg);
    }
    100% {
      transform: var(--transforms);
      left: calc(100% - var(--car-width) - 10px);
    }
  }
  
  @keyframes car-stop {
    $stop-length: 30px;
    0% {
      left: var(--car-stop-at);
    }
    75% {
      transform: var(--transforms) rotate(2deg);
      left: min(var(--car-stop-at) + $stop-length, 100% - var(--car-width) - 10px);
    }
    100% {
      transform: var(--transforms);
      left: min(var(--car-stop-at) + $stop-length, 100% - var(--car-width) - 10px);
    }
  }