$switch-transition: 300ms;

.toggle-input {
  overflow: hidden;
  position: absolute;
  width: 80px;
  aspect-ratio: 3 / 1;

  border-radius: 20px;
  border: 4px solid;
  transition: box-shadow 300ms ease-in-out;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}

.toggle-input__checkbox {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  
  cursor: pointer;

  &:checked + .toggle-input__button {
    &::before {
      animation: button-switch-on $switch-transition ease-in-out forwards;
    }
  }
}

.toggle-input__button {
  height: 100%;
  &::before {
    content:'';
    display: inline-block;
    opacity: 1;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    animation: button-switch-off $switch-transition ease-in-out forwards;
    
    width: 40%;
    height:100%;
    
    background-color: white;
    border-radius: 20px;
  }
}

@keyframes button-switch-on {
  0% {
    width: 40%;
    transform: none;
  }
  50% {
    width: 60%;
  }
  100% {
    width: 40%;
    transform: translateX(150%);
  }
}

@keyframes button-switch-off {
  0% {
    width: 40%;
    transform: translateX(150%);
  }
  50% {
    width: 60%;
  }
  100% {
    width: 40%;
    transform: none;
  }
}