.header {
  width: 100%;
  height: $header-height;
  padding-top: 10px;
}

.header__view-switch {
  $border-width: 4px;
  $border-radius: 50px;

  height: 100%;
  width: min(100% - 20px, 1000px);

  margin: 0 auto;

  background-color: $color-dark-xl;
  border-radius: $border-radius;

  .toggle-input__options {
    text-transform: uppercase;
    z-index: $toggle-input-labels-layer;
    & > * {
      cursor: pointer;
      width: 50%;
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;

      transition: color ease-in-out $switch-transition;
      border: $border-width dashed;
      overflow: hidden;
    }
  }

  .toggle-input__first-option {
    color: $color-dark-xl;
    border-right: none;
    border-radius: $border-radius 0 0 $border-radius;
  }

  .toggle-input__second-option {
    color: $color-light-xl;
    border-left: none;
    border-radius: 0 $border-radius $border-radius 0;
  }

  .toggle-input__button {
    &::before {
      box-sizing: border-box;
      background-color: $color-light-xl;
      animation-duration: $switch-transition;

      border-left: none;
      border-right: $border-width dashed $color-dark-xl;
    }
  }

  .toggle-input__checkbox {
    z-index: $toggle-input-checkbox-layer;
  }

  .toggle-input__checkbox:checked {
    & ~ .toggle-input__options {
      .toggle-input__first-option {
        color: $color-light-xl;
      }

      .toggle-input__second-option {
        color: $color-dark-xl;
      }
    }

    & + .toggle-input__button {
      &::before {
        border-left: $border-width dashed $color-dark-xl;
        border-right: none;
      }
    }
  }
}
