$show-transition-time: 500ms;

.header__burger-menu {
    display: none;
    @media (max-width: 500px) {
        background: transparent;
        border: none;
        outline: none;

        height: 30px;
        width: 50px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        position: fixed;
        top: 6.5vh;
        left: 70vw;
        z-index: 4;

        transition: transform $show-transition-time ease-in-out;
    }
}

.header__burger-menu_shown {
    transform: rotate(90deg);
}

.burger-menu__line {
    width: 100%;
    height: 3px;
    background-color: white;
}

.burger-menu__background {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    z-index: 3;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    transition: opacity $show-transition-time ease-in-out;
}

.burger-menu__background_show {
    opacity: 1;
}

.burger-menu {
    position: absolute;
    right: 0;
    width: 320px;
    height: 100vh;
    z-index: 3;
    background-color: #30c5ff;
    border: 3px solid white;
    left: 100%;
    transition: left $show-transition-time ease-in-out;
    border-radius: 50px 0 0 50px;
}

.burger-menu_shown {
    left: calc(100% - 320px);
}